body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  border-radius: 15px;
}
h1 {
  text-align: center;
}
footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}
h2 {
  margin: 0 0 10px;
  font-size: 30px;
}
.date {
  opacity: 0.7;
}
select {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
}
.city:last-child {
  border-bottom: none;
}
.time {
  font-size: 50px;
  font-weight: bold;
}
.time small {
  font-size: 25px;
  font-weight: bold;
  vertical-align: middle;
}
